<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Client $client
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Client'), ['action' => 'edit', $client->ClientID]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Client'), ['action' => 'delete', $client->ClientID], ['confirm' => __('Are you sure you want to delete # {0}?', $client->ClientID)]) ?> </li>
        <li><?= $this->Html->link(__('List Clients'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Client'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="clients view large-9 medium-8 columns content">
    <h3><?= h($client->ClientID) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('ClientTitle') ?></th>
            <td><?= h($client->ClientTitle) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Password') ?></th>
            <td><?= h($client->password) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('ClientID') ?></th>
            <td><?= $this->Number->format($client->ClientID) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('PhoneN') ?></th>
            <td><?= $this->Number->format($client->PhoneN) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('RegN') ?></th>
            <td><?= $this->Number->format($client->RegN) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($client->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($client->modified) ?></td>
        </tr>
    </table>
</div>
